

.blog-masthead {
  margin-bottom: 2rem;
}


/*
 * Blog posts
 */

.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}



.sidebar-module {
  padding: 1rem;
}


/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
  text-align: center;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

/* blog detail content  */
.blog-content {

}


.breadcrumb {
  background-color: #fff;
}

/*
 * Footer
 */

.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}
