

.blog-masthead {
  margin-bottom: 2rem;
}


/*
 * Blog posts
 */

.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}



.sidebar-module {
  padding: 1rem;
}


/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
  text-align: center;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

/* blog detail content  */
.blog-content {

}


.breadcrumb {
  background-color: #fff;
}

/*
 * Footer
 */

.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

.catalogs li{
  margin: 3px 0 3px 0;
}

/* comments */
.comment-header {
  font-weight: 700;
}
.comment-content{
  margin: 10px;
}
.comment-footer {
  /* text-align: right; */
  margin-right: 50px;
  color: #999;
}
.comment-line {
  border-top:1px dotted #185598;
  margin-top: 0.5rem;
}



/* archieve */
.archieve-year {
  margin-bottom: 30px;
  text-align: center;
}
.archieve-year-header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
.archieve-year-content {

}

.archieve-year-content li {
  text-align: left;
  margin: 3px 0 3px 0;
}
.cmt-count {
  color: #999;
}


/* loading images */
.loading {
  margin: 20px auto;
}

/* quote comment styles */
.comment-content div {
  
}

.bd-callout-primary {
  border-left-color: #007bff;
}
.bd-callout {
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #eee;
  border-left-width: .25rem;
  border-radius: .25rem;
}

.bd-callout-primary pre {
  font-weight: 700;
}